alembic==1.7.4
anyio==3.4.0
argon2-cffi==20.1.0
arrow==1.2.1
as==0.1
async-generator==1.10
atomicwrites==1.4.0
attrs==21.2.0
Automat==20.2.0
Babel==2.9.1
backcall==0.2.0
beautifulsoup4==4.9.3
binaryornot==0.4.4
bleach==3.3.0
blinker==1.4
branca==0.4.2
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==8.0.1
click-plugins==1.1.1
cligj==0.7.2
cloudscraper==1.2.58
colorama==0.4.4
constantly==15.1.0
cookiecutter==1.7.3
cors==1.0.1
coverage==5.5
cryptography==3.4.7
cssselect==1.1.0
cycler==0.10.0
debugpy==1.3.0
decorator==5.0.9
defusedxml==0.7.1
descartes==1.1.0
dnspython==2.1.0
docutils==0.18
dominate==2.6.0
email-validator==1.1.3
entrypoints==0.3
filelock==3.6.0
Flask==2.0.1
Flask-Bootstrap==3.3.7.1
Flask-Cache==0.13.1
Flask-Caching==1.10.1
Flask-Cors==3.0.10
flask-googlemaps==0.4.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Moment==1.0.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
folium==0.12.1
fpdf==1.7.2
future==0.18.2
geocoder==1.38.1
geographiclib==1.52
geopy==2.2.0
geos==0.2.3
gevent==21.12.0
ghp-import==2.0.2
gis==0.2.1
greenlet==1.1.1
h2==3.2.0
hpack==3.0.0
html5lib==1.1
htmlmin==0.1.12
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
importlib-metadata==4.8.2
incremental==21.3.0
iniconfig==1.1.1
ipykernel==6.0.1
ipython==7.25.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==2.0.1
javascript==2015.32.59
jedi==0.18.0
Jinja2==3.0.1
jinja2-time==0.2.0
jmespath==0.10.0
joblib==1.1.0
jsmin==3.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyter-server==1.13.1
jupyterlab==3.2.6
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
jupyterlab-widgets==1.0.0
jupyterthemes==0.20.0
kaleido==0.2.1
keyring==23.2.1
kiwisolver==1.3.1
lesscpy==0.15.0
line-profiler==3.3.0
lxml==4.6.3
Mako==1.1.5
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
memory-profiler==0.58.0
mergedeep==1.3.4
migrate==0.3.7
MiniSom==2.2.9
mistune==0.8.4
mkdocs==1.2.3
mkdocs-material==5.5.14
mkdocs-material-extensions==1.0.3
mkdocs-minify-plugin==0.3.0
more-itertools==8.8.0
munch==2.5.0
MyApplication==0.1.0
nbclassic==0.3.4
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
np==1.0.2
numpy==1.20.3
numpy-financial==1.0.0
packaging==21.0
pandas==1.2.4
pandocfilters==1.4.3
parsel==1.6.0
parso==0.8.2
patsy==0.5.1
pd==0.0.1
perfect==0.0.1
pickleshare==0.7.5
Pillow==8.2.0
pkginfo==1.7.1
plotly==5.1.0
plotly-express==0.4.1
pluggy==1.0.0
ply==3.11
poyo==0.5.0
priority==1.3.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
Protego==0.1.16
psutil==5.8.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.7.0
pycparser==2.20
pydeck==0.7.1
PyDispatcher==2.0.5
pygal==2.4.0
Pygments==2.9.0
pymdown-extensions==9.2
Pyment==0.3.3
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyproj==3.1.0
pyrsistent==0.18.0
PySocks==1.7.1
pytest==6.2.5
python-dateutil==2.8.1
python-slugify==5.0.2
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
pywinpty==1.1.3
PyYAML==6.0
pyyaml_env_tag==0.1
pyzmq==22.1.0
qtconsole==5.2.2
QtPy==2.0.0
queuelib==1.6.1
ratelim==0.1.6
readme-renderer==30.0
requests==2.25.1
requests-file==1.5.1
requests-toolbelt==0.9.1
rfc3986==1.5.0
scikit-learn==1.0.1
scipy==1.7.0
Scrapy==2.5.0
scrapy-user-agents==0.1.1
seaborn==0.11.2
Send2Trash==1.7.1
service-identity==21.1.0
Shapely==1.7.1
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
SQLAlchemy==1.4.25
statsmodels==0.12.2
tenacity==8.0.1
terminado==0.10.1
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==3.0.0
tldextract==3.1.2
toml==0.10.2
tornado==6.1
tqdm==4.62.3
traitlets==5.0.5
twine==3.6.0
Twisted==21.2.0
twisted-iocpsupport==1.0.1
typing==3.7.4.3
ua-parser==0.10.0
urllib3==1.26.5
user-agents==2.2.0
uuid==1.30
vega-datasets==0.9.0
visitor==0.1.3
w3lib==1.22.0
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.3
Werkzeug==2.0.1
widgetsnbextension==3.5.1
WTForms==3.0.0
zipp==3.6.0
zope.event==4.5.0
zope.interface==5.4.0
